@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xxl: 1440px;
}

body {
  background: #1b191c;
  color: #ffffff;
}

* {
  /* outline: 1px solid red; */
  @apply duration-300 ease-in-out transition-all;
}

button {
  cursor: pointer;
}

.mw {
  width: 100%;
  max-width: 1356px;
}

.text-gradient-copy-top-traders {
  background: linear-gradient(95.11deg, #f9f3ff 23.83%, #999999 74.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-with-streple {
  background: linear-gradient(
    91.53deg,
    #ffffff 53.18%,
    rgba(255, 255, 255, 0) 133.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-people-choose-us {
  border-radius: 21px;
  padding: 4px 10px;
  background: #5a555c1a;
  border: 1px solid;
}

.text-gradient-earn-profits {
  background: linear-gradient(
    92.94deg,
    #ffffff 39.54%,
    rgba(255, 255, 255, 0.05) 115.48%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-real-results {
  background: linear-gradient(
    92.94deg,
    #ffffff 39.54%,
    rgba(255, 255, 255, 0.05) 115.48%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 396px;
  min-height: 496px;
  gap: 40px;
  border-radius: 24px;
  border-width: 3px;
  padding-top: 52px;
  padding-right: 24px;
  padding-bottom: 52px;
  padding-left: 24px;
  background: #ffffff0d;
  border: 3px solid;
  border-color: #434343c2;
  backdrop-filter: blur(4px);
  /* border: 5px solid;
  border-image-source: linear-gradient(
      159.57deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 98.54%
    ),
    linear-gradient(
      160.42deg,
      rgba(255, 255, 255, 0.2) 0.52%,
      rgba(0, 0, 0, 0.2) 98.96%
    ); */
}

.hero-section-bg {
  background-image: url("../public/images/hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.section-1-bg {
  background-image: url("../public/images/section-1-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.section-6-bg {
  background-image: url("../public/images/section-6-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 610px;
  width: 100%;
}

.start-trading-bg {
  background-image: url("../public/images/start-trading-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1082px;
  width: 90%;
  min-height: 524px;
  /* padding: 92px 80px; */
  border-radius: 26px;
}

@media (min-width: 1280px) and (max-width: 1439.98px) {
  .w-1132-xl {
    width: 1132px;
  }

  .w-996-xl {
    width: 996px;
  }

  .gap-37-xl {
    gap: 37px;
  }

  .text-30-xl {
    font-size: 30px;
  }

  .text-46-xl {
    font-size: 46px;
  }

  .text-55-xl {
    font-size: 55px;
  }

  .w-1122-xl {
    width: 1122px;
  }

  .w-501-h-647-xl {
    width: 501px;
    height: 647px;
  }

  .w-501-h-475-xl {
    width: 501px;
    height: 475px;
  }

  .w-544-xl {
    width: 544px;
  }

  .w-1112-xl {
    width: 1112px;
  }

  .testimonial-card {
    width: 352px;
    min-height: 440px;
  }

  .w-1114-xl {
    width: 1114px;
  }

  .start-trading-bg {
    width: 962px;
    height: 424px;
    padding-inline: 82px;
    padding-block: 71px;
  }

  .w-916-h-603-xl {
    width: 916px;
    height: 603px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .w-909-lg {
    width: 909px;
  }

  .w-796-lg {
    width: 796px;
  }

  .text-24-lg {
    font-size: 24px;
  }

  .text-36-lg {
    font-size: 36px;
  }

  .text-44-lg {
    font-size: 44px;
  }

  .w-898-lg {
    width: 898px;
  }

  .w-401-h-518-lg {
    width: 401px;
    height: 518px;
  }

  .w-401-h-380-lg {
    width: 401px;
    height: 380px;
  }

  .w-435-lg {
    width: 435px;
  }

  .w-890-lg {
    width: 890px;
  }

  .testimonial-card {
    width: 282px;
    height: 352px;
  }

  .w-892-lg {
    width: 892px;
  }

  .start-trading-bg {
    width: 770px;
    height: 377px;
    padding-inline: 65px;
    padding-block: 57px;
  }

  .w-732-h-482-xl {
    width: 732px;
    height: 482px;
  }
}

.hero-section-bg-mobile {
  background-image: url("../public/images/hero-bg-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-1-bg-mobile {
  background-image: url("../public/images/section-1-bg-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.section-2-bg-mobile,
.section-3-bg-mobile {
  background-image: url("../public/images/section-2to5-bg-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-4-bg-mobile {
  background-image: url("../public/images/section-2to5-bg-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-card-mobile {
  display: flex;
  flex-direction: column;
  max-width: 361px;
  height: 447px;
  gap: 40px;
  border-radius: 24px;
  border-width: 3px;
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 16px;
  background: #ffffff0d;
  border: 3px solid;
  border-color: #434343c2;
  backdrop-filter: blur(4px);
}

.section-5-bg-mobile {
  background-image: url("../public/images/section-2to5-bg-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-6-bg-mobile {
  background-image: url("../public/images/section-6-bg-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bw-tb-gradient {
  position: relative;
  border: 1px solid transparent;
}
.bw-tb-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(to bottom, #00000080, #ffffff80);
  border-radius: inherit;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.bw-lr-gradient {
  position: relative;
  border: 1px solid transparent;
}
.bw-lr-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(to right, #00000099, #ffffffb2);
  border-radius: inherit;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.pp-lr-gradient {
  position: relative;
  border: 1px solid transparent;
}
.pp-lr-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(to right, #6f627d66, #b39ff080);
  border-radius: inherit;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.infinite-scroll-right {
  animation: infinite-scroll-right 25s linear infinite;
}

@keyframes infinite-scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.bw-tr-border-gradient {
  position: relative;
  border: 1px solid transparent;
}

.bw-tr-border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: inherit;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.bw-tb-border-gradient {
  position: relative;
  border: 1px solid transparent;
}

.bw-tb-border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: inherit;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.protraders-section-bg {
  background: linear-gradient(
      0deg,
      rgba(90, 85, 92, 0.05),
      rgba(90, 85, 92, 0.05)
    ),
    linear-gradient(
      106.01deg,
      rgba(0, 0, 0, 0) 29.78%,
      rgba(0, 0, 0, 0.12) 74.68%
    );
}

.article-bg {
  background-image: url("../public/images/article-thumbnail.webp");
}

.article-ci {
  background-image: url("../public/images/article-cover-img.webp");
}

.article-content h1 {
  font-size: 2rem !important;
  line-height: 3rem !important;
  font-weight: 700 !important;
}

.article-content h2 {
  font-size: 1.5rem !important;
  line-height: 2.25rem !important;
  font-weight: 600 !important;
}

.article-content h3 {
  font-size: 1.25rem !important;
  line-height: 2rem !important;
  font-weight: 500 !important;
}

.article-content p {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 400 !important;
}

.article-content ul {
  list-style-type: disc !important;
  margin-left: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.article-content ol {
  list-style-type: decimal !important;
  margin-left: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.article-content li {
  margin-bottom: 0.5rem !important;
}

.article-content hr {
  height: 1px !important;
  background-color: #ffffff !important;
  border: none !important;
  margin: 1rem 0 !important;
  width: 100% !important;
  opacity: 0.1 !important;
}

.article-content button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  height: 2.5rem !important;
  min-width: 10rem !important;
  border-radius: 10px !important;
  font-weight: 600 !important;
  letter-spacing: 2px !important;
  line-height: 150% !important;
  font-size: 0.875rem !important;
  background-color: #8b6af5 !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
