@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xxl: 1440px;
}

body {
  background: #1B191C;
}

.text-gradient-copy-top-traders {
  background: linear-gradient(95.11deg, #F9F3FF 23.83%, #999999 74.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-with-streple {
  background: linear-gradient(91.53deg, #FFFFFF 53.18%, rgba(255, 255, 255, 0) 133.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-people-choose-us {
  border-radius: 21px;
  border-width: 1px;
  padding: 4px 10px;
  background: #5A555C1A;
  border: 1px solid;
  border-color: #7F7F7FA6;
}

.text-gradient-earn-profits {
  background: linear-gradient(92.94deg, #FFFFFF 39.54%, rgba(255, 255, 255, 0.05) 115.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-real-results {
  background: linear-gradient(92.94deg, #FFFFFF 39.54%, rgba(255, 255, 255, 0.05) 115.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 496px;
  gap: 40px;
  border-radius: 24px;
  border-width: 3px;
  padding-top: 52px;
  padding-right: 24px;
  padding-bottom: 52px;
  padding-left: 24px;
  background: #FFFFFF0D;
  border: 3px solid;
  border-color: #434343C2;
  backdrop-filter: blur(4px);
}

.hero-section-bg {
  background-image: url('../public/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.section-1-bg {
  background-image: url('../public/section-1-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.section-6-bg {
  background-image: url('../public/section-6-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 610px;
  width: 100%;
}

.start-trading-bg {
  background-image: url('../public/start-trading-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1082px;
  height: 424px;
  padding-inline: 92px;
  padding-block: 80px;
  border-radius: 26px;
}

@media (min-width: 1280px) and (max-width: 1439.98px) {
  .w-1132-xl {
    width: 1132px;
  }

  .w-996-xl {
    width: 996px;
  }

  .gap-37-xl {
    gap: 37px;
  }

  .text-46-xl {
    font-size: 46px;
  }

  .text-55-xl {
    font-size: 55px;
  }

  .w-1122-xl {
    width: 1122px;
  }

  .w-501-h-647-xl {
    width: 501px;
    height: 647px;
  }

  .w-501-h-475-xl {
    width: 501px;
    height: 475px;
  }

  .w-544-xl {
    width: 544px;
  }

  .w-1112-xl {
    width: 1112px;
  }

  .testimonial-card {
    width: 352px;
    height: 440px;
  }

  .w-1114-xl {
    width: 1114px;
  }

  .start-trading-bg {
    width: 962px;
    height: 424px;
    padding-inline: 82px;
    padding-block: 71px;
  }

  .w-916-h-603-xl {
    width: 916px;
    height: 603px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .w-909-lg {
    width: 909px;
  }

  .w-796-lg {
    width: 796px;
  }

  .text-36-lg {
    font-size: 36px;
  }

  .text-44-lg {
    font-size: 44px;
  }

  .w-898-lg {
    width: 898px;
  }

  .w-401-h-518-lg {
    width: 401px;
    height: 518px;
  }

  .w-401-h-380-lg {
    width: 401px;
    height: 380px;
  }

  .w-435-lg {
    width: 435px;
  }

  .w-890-lg {
    width: 890px;
  }

  .testimonial-card {
    width: 282px;
    height: 352px;
  }

  .w-892-lg {
    width: 892px;
  }

  .start-trading-bg {
    width: 770px;
    height: 377px;
    padding-inline: 65px;
    padding-block: 57px;
  }

  .w-732-h-482-xl {
    width: 732px;
    height: 482px;
  }
}

.hero-section-bg-mobile {
  background-image: url('../public/hero-bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 718px;
  width: 100%;
}

.section-1-bg-mobile {
  background-image: url('../public/section-1-bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 708px;
  width: 100%;
}

.section-2-bg-mobile,
.section-3-bg-mobile {
  background-image: url('../public/section-2to5-bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1086px;
  width: 100%;
}

.section-4-bg-mobile {
  background-image: url('../public/section-2to5-bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1712px;
  width: 100%;
}

.testimonial-card-mobile {
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 447px;
  gap: 40px;
  border-radius: 24px;
  border-width: 3px;
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 16px;
  background: #FFFFFF0D;
  border: 3px solid;
  border-color: #434343C2;
  backdrop-filter: blur(4px);
}

.section-5-bg-mobile {
  background-image: url('../public/section-2to5-bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 797px;
  width: 100%;
}

.section-6-bg-mobile {
  background-image: url('../public/section-6-bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 522px;
  width: 100%;
}